{% extends 'base.html.twig' %} {% block title %}Hello ProduitsController!{% endblock %} {% block stylesheets %}
{{ encore_entry_link_tags("app") }}
{{ encore_entry_link_tags("product") }}
{% endblock %} {% block body %}

<!-- bannière -->

<div class="banniProd1 mb-5">
    <div class="card text-white">
        <div style="width:100% ; height: 300px ; background-image: url('{{ asset("img/fonProd.jpg") }}');background-size:cover ; background-position:center">
        <!-- <img src="{{ asset("img/fruitLegume.jpg") }}" class="card-img" alt="..." /> -->
        </div>
        <div class="card-img-overlay d-flex align-items-center justify-content-center d-flex flex-column">
            <h2 class="card-title p-3">Tous les produits</h2>
            <p class="texte">Le meilleur de leurs produits !</p>
        </div>
    </div>
</div>

<!-- cards -->

<h2 class="titreCards1"><span class="cadre-titre-vert px-2">Tous</span>&nbsp;leurs produits pour vous.</h2>

<div class="row my-3 justify-content-center cardsCat">

    <div class="card text-white m-3">
        <div style="background-image: url('{{ asset("img/fruit.jpg") }}');">
            <!-- <img src="{{ asset("img/fruitLegume.jpg") }}" class="card-img" alt="..." /> -->
        </div>
        <a href="{{ path('cat')}}">
            <div class="card-img-overlay d-flex align-items-center justify-content-center bgvert-hover">
                <h2 class="card-title cadre-titre-vert">fruits</h2>
            </div>
        </a>
    </div>

    <div class="card text-white m-3">
        <div style="background-image: url('{{ asset("img/legume.jpg") }}');">
            <!-- <img src="{{ asset("img/fruitLegume.jpg") }}" class="card-img" alt="..." /> -->
        </div>
        <a href="{{ path('cat')}}">
            <div class="card-img-overlay d-flex align-items-center justify-content-center bgvert-hover">
                <h2 class="card-title cadre-titre-vert">légumes</h2>
            </div>
        </a>
    </div>

    <div class="card text-white m-3">
        <div style="background-image: url('{{ asset("img/viande.jpg") }}');">
            <!-- <img src="{{ asset("img/fruitLegume.jpg") }}" class="card-img" alt="..." /> -->
        </div>
        <a href="{{ path('cat')}}">
            <div class="card-img-overlay d-flex align-items-center justify-content-center bgrouge-hover">
                <h2 class="card-title cadre-titre-rouge">viandes</h2>
            </div>
        </a>
    </div>

    <div class="card text-white m-3">
        <div style="background-image: url('{{ asset("img/poisson.jpg") }}');">
            <!-- <img src="{{ asset("img/fruitLegume.jpg") }}" class="card-img" alt="..." /> -->
        </div>
        <a href="{{ path('cat')}}">
            <div class="card-img-overlay d-flex align-items-center justify-content-center bgrouge-hover">
                <h2 class="card-title cadre-titre-rouge">poissons</h2>
            </div>
        </a>
    </div>

    <div class="card text-white m-3">
        <div style="background-image: url('{{ asset("img/fromage.jpg") }}');">
            <!-- <img src="{{ asset("img/fruitLegume.jpg") }}" class="card-img" alt="..." /> -->
        </div>
        <a href="{{ path('cat')}}">
            <div class="card-img-overlay d-flex align-items-center justify-content-center bgviolet-hover">
                <h2 class="card-title cadre-titre-violet">produits laitiers</h2>
            </div>
        </a>
    </div>

    <div class="card text-white m-3">
        <div style="background-image: url('{{ asset("img/pain.jpg") }}');">
            <!-- <img src="{{ asset("img/fruitLegume.jpg") }}" class="card-img" alt="..." /> -->
        </div>
        <a href="{{ path('cat')}}">
            <div class="card-img-overlay d-flex align-items-center justify-content-center bgviolet-hover">
                <h2 class="card-title cadre-titre-violet">boulangerie</h2>
            </div>
        </a>
    </div>

    <div class="card text-white m-3">
        <div style="background-image: url('{{ asset("img/miel.jpg") }}');">
            <!-- <img src="{{ asset("img/fruitLegume.jpg") }}" class="card-img" alt="..." /> -->
        </div>
        <a href="{{ path('cat')}}">
            <div class="card-img-overlay d-flex align-items-center justify-content-center bgorange-hover">
                <h2 class="card-title cadre-titre-orange">miel et confitures</h2>
            </div>
        </a>
    </div>

    <div class="card text-white m-3">
        <div style="background-image: url('{{ asset("img/epice.jpg") }}');">
            <!-- <img src="{{ asset("img/fruitLegume.jpg") }}" class="card-img" alt="..." /> -->
        </div>
        <a href="{{ path('cat')}}">
            <div class="card-img-overlay d-flex align-items-center justify-content-center bgorange-hover">
                <h2 class="card-title cadre-titre-orange">condiments</h2>
            </div>
        </a>
    </div>
    
    </div>





{% endblock %}