{% extends 'base.html.twig' %}

{% block title %}CRUD Categorie{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mb-4">Categorie index</h1>

    <table class="table table-sm table-hover table-end-fit">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Categorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <th scope="row">{{- categorie.id -}}</th>
                <td>{{- categorie.nom -}}</td>
                <td>{{- (categorie.parent.nom)?? "" -}}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('categorie_show', {'id': categorie.id}) }}">Voir</a>
                    <a class="btn btnorange" href="{{ path('categorie_edit', {'id': categorie.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune Catégorie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p><a class="btn btnvert" href="{{ path('categorie_new') }}">Nouvelle catégorie</a></p>
</div>
{% endblock %}