{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-between mb-2">
        <h1>Categorie</h1>
        <p>
            <a class="btn btn-primary" href="{{ path('categorie_index') }}">back to list</a>
            <a class="btn btnorange" href="{{ path('categorie_edit', {'id': categorie.id}) }}">edit</a>
        </p>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
        </tbody>
    </table>

    <p ></p>

    <!-- <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">edit</a> -->

    {{ include('components/pages/categorie/_delete_form.html.twig') }}
{% endblock %}
