{% extends 'base.html.twig' %}

{% block title %}CommandeProduct index{% endblock %}

{% block body %}
    <h1>CommandeProduct index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>UnitPrice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande_product in commande_products %}
            <tr>
                <td>{{ commande_product.id }}</td>
                <td>{{ commande_product.quantity }}</td>
                <td>{{ commande_product.unitPrice }}</td>
                <td>
                    <a href="{{ path('commande_product_show', {'id': commande_product.id}) }}">Voir</a>
                    <a href="{{ path('commande_product_edit', {'id': commande_product.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commande_product_new') }}">Create new</a>
{% endblock %}
