{% extends 'base.html.twig' %} {% block title %}Hello ProduitsController!{% endblock %} {% block stylesheets %}
{{ encore_entry_link_tags("app") }}
{{ encore_entry_link_tags("product") }}
{% endblock %} {% block body %}

<!-- bannière -->

<div class="banniProd1 mb-5">
    <div class="card text-white">
        <div style="width:100% ; height: 300px ; background-image: url('{{ asset("img/fruitLegume.jpg") }}');background-size:cover ; background-position:center">
        <!-- <img src="{{ asset("img/fruitLegume.jpg") }}" class="card-img" alt="..." /> -->
    </div>
        <div class="card-img-overlay d-flex align-items-center justify-content-center d-flex flex-column">
            <h2 class="card-title">TOUTS LES PRODUITS</h2>
            <p class="texte">Le meilleure de leurs produits</p>
        </div>
    </div>
</div>

<!-- cards -->

<h2 class="titreCards1">TOUTS leurs produits pour vous.</h2>

<div class="row py-5 justify-content-center">

    <div class="card text-white m-3">
        <div style="width:300px ; height: 200px ; background-image: url('{{ asset("img/fruit.jpg") }}');background-size:cover ; background-position:center">
        <!-- <img src="{{ asset("img/fruitLegume.jpg") }}" class="card-img" alt="..." /> -->
    </div>
        <div class="card-img-overlay d-flex align-items-center justify-content-center d-flex flex-column">
            <h2 class="card-title">FRUITS</h2>
        </div>
    </div>

    <div class="card text-white m-3">
        <div style="width:300px ; height: 200px ; background-image: url('{{ asset("img/legume.jpg") }}');background-size:cover ; background-position:center">
        <!-- <img src="{{ asset("img/fruitLegume.jpg") }}" class="card-img" alt="..." /> -->
    </div>
        <div class="card-img-overlay d-flex align-items-center justify-content-center d-flex flex-column">
            <h2 class="card-title">LEGUMES</h2>
        </div>
    </div>

    <div class="card text-white m-3">
        <div style="width:300px ; height: 200px ; background-image: url('{{ asset("img/viande.jpg") }}');background-size:cover ; background-position:center">
        <!-- <img src="{{ asset("img/fruitLegume.jpg") }}" class="card-img" alt="..." /> -->
    </div>
        <div class="card-img-overlay d-flex align-items-center justify-content-center d-flex flex-column">
            <h2 class="card-title">VIANDES</h2>
        </div>
    </div>

    <div class="card text-white m-3">
        <div style="width:300px ; height: 200px ; background-image: url('{{ asset("img/poisson.jpg") }}');background-size:cover ; background-position:center">
        <!-- <img src="{{ asset("img/fruitLegume.jpg") }}" class="card-img" alt="..." /> -->
    </div>
        <div class="card-img-overlay d-flex align-items-center justify-content-center d-flex flex-column">
            <h2 class="card-title">POISSONS</h2>
        </div>
    </div>

    <div class="card text-white m-3">
        <div style="width:300px ; height: 200px ; background-image: url('{{ asset("img/fromage.jpg") }}');background-size:cover ; background-position:center">
        <!-- <img src="{{ asset("img/fruitLegume.jpg") }}" class="card-img" alt="..." /> -->
    </div>
        <div class="card-img-overlay d-flex align-items-center justify-content-center d-flex flex-column">
            <h2 class="card-title">PRODUITS LAITIER</h2>
        </div>
    </div>

    <div class="card text-white m-3">
        <div style="width:300px ; height: 200px ; background-image: url('{{ asset("img/pain.jpg") }}');background-size:cover ; background-position:center">
        <!-- <img src="{{ asset("img/fruitLegume.jpg") }}" class="card-img" alt="..." /> -->
    </div>
        <div class="card-img-overlay d-flex align-items-center justify-content-center d-flex flex-column">
            <h2 class="card-title">BOULANGERIE</h2>
        </div>
    </div>

    <div class="card text-white m-3">
        <div style="width:300px ; height: 200px ; background-image: url('{{ asset("img/miel.jpg") }}');background-size:cover ; background-position:center">
        <!-- <img src="{{ asset("img/fruitLegume.jpg") }}" class="card-img" alt="..." /> -->
    </div>
        <div class="card-img-overlay d-flex align-items-center justify-content-center"></div>
            <h2 class="card-title">MIELS ET CONFITURES</h2>
        </div>
    </div>

    <div class="card text-white m-3">
        <div style="width:300px ; height: 200px ; background-image: url('{{ asset("img/epice.jpg") }}');background-size:cover ; background-position:center">
        <!-- <img src="{{ asset("img/fruitLegume.jpg") }}" class="card-img" alt="..." /> -->
    </div>
        <div class="card-img-overlay d-flex align-items-center justify-content-center d-flex flex-column">
            <h2 class="card-title">EPICES</h2>
        </div>
    </div>
    
    </div>





{% endblock %}