{% extends 'base.html.twig' %}

{% block title %}CRUD Producer{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mb-4">Producer index</h1>

    <table class="table table-sm table-hover table-end-fit">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>addressstreet</th>
                <th>addresscountry</th>
                <th>address complement</th>
                <th>addresszipcode</th>
                <th>addresscity</th>
                <th>Siret</th>
                <th>Phone</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producer in producers %}
            <tr>
                <th scope="row">{{ producer.id }}</th>
                <td>{{ producer.name }}</td>
                <td>{{ producer.description }}</td>
                <td>{{ producer.addresscountry }}</td>
                <td>{{ producer.addresscomplement }}</td>
                <td>{{ producer.addresszipcode }}</td>
                <td>{{ producer.addresscity }}</td>
                <td>{{ producer.siret }}</td>
                <td>{{ producer.phone }}</td>
                <td>{{ producer.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('producer_show', {'id': producer.id}) }}">Voir</a>
                    <a class="btn btnorange" href="{{ path('producer_edit', {'id': producer.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun producteur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p><a class="btn btnvert" href="{{ path('producer_new') }}">Nouveau producteur</a></p>
</div>
{% endblock %}
