{% extends 'base.html.twig' %}
{% block title %}Hello ProduitsController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags("app") }}
    {{ encore_entry_link_tags("producteur") }}
{% endblock %}

{% block body %}

<!-- bannière -->

<div class="banniProd1 mb-5">
    <div class="card text-white">
        <div class=" bannier-producer ">
            <img class="img-bannier" src="{{ asset("img/champ.jpg") }}" alt="">
        </div>

        <div class="card-img-overlay d-flex align-items-center justify-content-center d-flex flex-column">
            <h2 class="card-title p-3">Les producteurs</h2>
        </div>
    </div>
</div>

<!-- Titre -->

<h3 class="titreCards1 mb-5"><span class="cadre-titre-violet px-2">Tous</span>&nbsp; les producteurs près de chez vous !</h3>

<!-- input -->
<div class="ligne-grise mx-auto"></div>


    <div class="row input-product">
        
        <div class="input-group col-9 col-md-3 m-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="ri-search-line"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Rechercher un producteur..." aria-label="Rechercher..." aria-describedby="basic-addon1" />
        </div>

        <div class="input-group col-9 col-md-3 m-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="ri-map-pin-2-line"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Ma localisation..." aria-label="Rechercher..." aria-describedby="basic-addon1" />
        </div> 
    </div>


<div class="ligne-grise mx-auto mb-4"></div>

<!-- cards -->

<div class="container py-4">
    <div class="row">
        {% if producers|length == 0 %}
            <!-- à modifier  -->
            <p>il n'y en a pas</p>
        {% endif %}

        {% for producer in producers %}
            <!-- producteurs card -->
            <div class="col-12 col-md-6"> 
        
                <div class="card mb-3 card-taille-producer">
                    <div class="producteur w-100 d-flex flex-row align-items-center">
                        <div class="m-3">
                            <img src="{{ asset( "profile/" ~ producer.user.file.0.path ) }}" alt="" class="img-profile">
                        </div>
                        <p class="text-center mt-2 mb-1 font-weight-bold">{{- producer.user.givenname ~ ' ' ~ producer.user.familyname -}}</p>
                        <p class="text-center mt-2 mb-1 ml-auto mr-3 font-weight-bold">{{- producer.user.addressCity ~ '  ' ~ producer.user.addressZipcode -}} <i class="ri-map-pin-2-line"></i></p>
                    </div>
            
                    <div class="img-card-producer">
                        <img src="{{ asset("upload/" ~ producer.file.0.path ) }}" alt="" class="img-card-producer">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">
                            {{- producer.name -}}
                        </h5>
                        <p class="card-text text-producer">
                            {{- producer.description -}}
                        </p>
                        <div class="btn-discover-producer col-12 d-flex flex-row align-items-center" >
                            <a href="{{ path('producer_show', {'id': producer.id}) }}" class="btn btnviolet ml-0">Découvrir</a>
                            <p class="ml-auto  mr-4 my-0"><i class="ri-star-line"></i> <i class="ri-star-line"></i> <i class="ri-star-line"></i> <i class="ri-star-line"></i> <i class="ri-star-line"></i></p>
                        </div>
                    </div>
                    
                </div>
            </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
