{% extends 'base.html.twig' %}

{% block title %}Producer{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-between">
        <h1>Producer</h1>
        <p>
            <a class="btn btn-primary" href="{{ path('producer_index') }}">back to list</a>
            <a class="btn btnorange" href="{{ path('producer_edit', {'id': producer.id}) }}">edit</a>
        </p>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ producer.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ producer.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ producer.description }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ producer.siret }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ producer.phone }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ producer.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    {% for comment in comments %}
        <div>
            <div>{{- comment.rate -}}/5</div>
            <div>{{- comment.message -}}</div>
        </div>
    {% endfor %}


    {% if is_granted('ROLE_USER') %}
    {{ include('components/pages/comment/_form.html.twig') }}
    {% else %}
    connectes toi frero !
    {% endif %}


    {{ include('components/pages/producer/_delete_form.html.twig') }}
</div>

{% endblock %}
