{% extends 'base.html.twig' %} {% block title %}ePotager - Accueil{% endblock %} {% block body %}
<!-- carousel -->

<div id="carouselhome" class="carousel slide" data-ride="carousel">
    <div class="carouOver"></div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="textCarou d-flex flex-column text-white">
                <h3>MICHEL ET SES POMMES</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br />
                    Eligendi eaque, sequi saepe voluptate aliquid? <br />
                    Nulla asperiores eaque expedita laboriosam deserunt.
                </p>
                <input type="button" class="btn btnorange text-white ml-3" value="Voir le produit" />
            </div>
            <img src="{{ asset("img/carou1.jpg") }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <div class="textCarou d-flex flex-column text-white">
                <h3>NOUVELLES FRAISES</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br />
                    Eligendi eaque, sequi saepe voluptate aliquid? <br />
                    Nulla asperiores eaque expedita laboriosam deserunt.
                </p>
                <input type="button" class="btn btnorange text-white ml-3" value="Voir le produit" />
            </div>
            <img src="{{ asset("img/carou1.jpg") }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <div class="textCarou d-flex flex-column text-white">
                <h3>ENFIN DES EPINARDS</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br />
                    Eligendi eaque, sequi saepe voluptate aliquid? <br />
                    Nulla asperiores eaque expedita laboriosam deserunt.
                </p>
                <input type="button" class="btn btnorange text-white ml-3" value="Voir le produit" />
            </div>
            <img src="{{ asset("img/carou1.jpg") }}" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

<!-- cards -->

 {% if is_granted('ROLE_ADMIN') %}
 JE SUIS ADMIN
 {% endif %}

<div class="bouton">
    <input type="button" class="btn btnorange text-white" value="Voir plus de produits" />
    <input type="button" class="btn btnorange text-white" value="Voir les autres producteurs" />
</div>

<div class="row">
    <div class="row justify-content-between col-6 mb-4">
        <div class="card" style="width: 17rem ; height:400px ; position:relative">
          <div style="width:100% ; height: 200px ; background-image: url('{{ asset("img/Pomme1.jpg") }}');background-size:cover ; background-position:center">
            <!-- <img src="{{ asset("img/Pomme1.jpg") }}" class="card-img-top img-fluid" alt="..." /> -->
          </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card.</p>
                <a href="#" class="btn btnvert" style="position:absolute ; bottom:4%">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 17rem ; height:400px ; position:relative">
          <div style="width:100% ; height: 200px ; background-image: url('{{ asset("img/Pomme1.jpg") }}');background-size:cover ; background-position:center">
            <!-- <img src="{{ asset("img/Pomme1.jpg") }}" class="card-img-top img-fluid" alt="..." /> -->
          </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card.</p>
                <a href="#" class="btn btnvert" style="position:absolute ; bottom:4%">Go somewhere</a>
            </div>
      </div>
    </div>

    <div class="col-6">
        <div class="col mb-4">
            <div class="card" style="width: 36rem ; height:500px ; position:relative">
              <div style="width:100% ; height: 300px ; background-image: url('{{ asset("img/Exploit1.jpg") }}');background-size:cover ; background-position:center">
                <!-- <img src="{{ asset("img/Exploit1.jpg") }}" class="card-img-top img-fluid" alt="..." /> -->
              </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p style="overflow:hidden ; max-width:50ch ; text-overflow: ellipsis ; wihte-space:nowrap" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content up the bulk of the card the bulk of the card.</p>
                    <a href="#" class="btn btnvert" style="position:absolute ; bottom:4%">Go somewhere</a>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}
