{% extends 'base.html.twig' %} 
{% block title %}Hello ProduitsController!{% endblock %}
{% block body %}

<!-- bannière -->

<div class="banniProd1 mb-5">
    <div class="card text-white">
        <div class="img-bannier ">
            <img src="{{ asset("img/fonProd.jpg") }}" class="card-img-overlay" alt="..." />
        </div>
        <div class="card-img-overlay d-flex align-items-center justify-content-center d-flex flex-column">
            <h2 class="card-title p-3">Toutes les fraises</h2>
            <p class="texte">Le meilleurs de leurs fraises !</p>
        </div>
    </div>
</div>

<!-- cards -->

<!-- cards -->
<div class="container">
    <div class="row">
        {% if products|length == 0 %}
            <!-- à modifier  -->
            <p>il n'y en a pas</p>
        {% endif %}
        {% for product in products %}
            <!-- card produit -->
            <div class="col-12 col-xl-6">
                <div class="card w-100 d-flex flex-row m-1 px-0 shadow-sm p-3 mb-5 bg-white rounded">
                    <!-- image -->
                    <div class="imageProduit col-4 p-0">
                        <img src="{{ asset("upload/" ~ product.file.0.path ) }}" alt="">
                    </div>
                    <!-- description et prix -->
                    <div class="prix col-5 d-flex flex-column justify-content-between">
                        <h3 class="mt-3">{{- product.name -}}</h3>
                        <p>{{- product.description -}}</p>
                        <div class="mb-3 d-flex flex-row">
                            <p class="btnorange-inverse m-2 font-weight-bold">{{- product.price -}}€ / kg</p>
                            <!-- <a href="#" class="btn btnvert m-2"><i class="ri-heart-line"></i></a> -->
                            <a href="{{path('cart_add', {'id': product.id}) }}" class="btn btnviolet m-2"><i class="ri-shopping-cart-2-line"></i></a>
                        </div>      
                    </div>
                    <!-- producteur -->
                    <div class="producteur col-3 d-flex flex-column justify-content-center align-items-center pb-3">
                        <div class="mt-3">
                            <img src="{{ asset("upload/" ~ product.producer.file.0.path ) }}" alt="" class="img-profile">,
                        </div>
                        <p class="text-center mt-2 mb-1 font-weight-bold">{{- product.producer.name -}}</p>
                        <a href="{{ path('producer_show', {'id': product.producer.id}) }}" class="btn btnvert m-2">Découvrir</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}