{% extends 'base.html.twig' %} {% block title %}ePotager - Accueil{% endblock %} {% block body %}

<!-- carousel -->
<div id="carouselhome" class="carousel slide" data-ride="carousel">
    <div class="carouOver"></div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container"> <div class="row"> 
                <div class="col-12 textCarou text-white">
                    <h3 class="noteworthy">MICHEL ET SES POMMES</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br />
                        Eligendi eaque, sequi saepe voluptate aliquid? <br />
                        Nulla asperiores eaque expedita laboriosam deserunt.
                    </p>
                    <a href="#" class="btn btnorange text-white">Voir le produit</a>
                </div>
            </div></div>
            <img src="{{ asset("img/carou1.jpg") }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <div class="container"> <div class="row"> 
                <div class="col-12 textCarou text-white">
                    <h3 class="noteworthy">NOUVELLES FRAISES</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br />
                        Eligendi eaque, sequi saepe voluptate aliquid? <br />
                        Nulla asperiores eaque expedita laboriosam deserunt.
                    </p>
                    <a href="#" class="btn btnorange text-white">Voir le produit</a>
                </div>
            </div></div>
            <img src="{{ asset("img/carou1.jpg") }}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <div class="container"> <div class="row"> 
                <div class="col-12 textCarou text-white">
                    <h3 class="noteworthy">ENFIN DES EPINARDS</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br />
                        Eligendi eaque, sequi saepe voluptate aliquid? <br />
                        Nulla asperiores eaque expedita laboriosam deserunt.
                    </p>
                    <a href="#" class="btn btnorange text-white">Voir le produit</a>
                </div>
            </div></div>
            <img src="{{ asset("img/carou1.jpg") }}" class="d-block w-100" alt="...">
        </div>
    </div>

    <a class="carousel-control-next" href="#carouselhome" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- cards -->
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6"> <!-- produits --> <!-- Bouton voir plus de produits -->
            <h2 class="text-center my-5"> <span class="cadre-titre-vert px-2">Derniers</span> produits</h2>
            <div class="row">
                {% for product in products %}
                    <div class="col-12 col-lg-6"> <!-- produits card 1 -->
                        <div class="card mb-3" style="width: 100% ; height:400px ; position:relative"> 
                            <div style="width:100% ; height: 200px ; background-image: url('{{ asset("upload/" ~ product.file.0.path  ) }}');background-size:cover ; background-position:center">
                            </div>
                            <div class="card-body"> 
                                <h5 class="card-title">{{- product.name -}}</h5>
                                <p class="card-text">{{- product.description -}}</p>
                                <a href="{{ path('product_show', {'id': product.id })}}" class="btn btnvert">Découvrir</a>
                                <a href="{{path('cart_add', {'id': product.id}) }}" class="btn btnviolet"><i class="ri-shopping-cart-2-line"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a href="{{ path('front_products') }}" class="btn btnorange text-white mb-4 mt-2">Voir plus de produits</a>

        </div>
    

<!-- producer -->

        <div class="col-12 col-lg-6 pl-5 container-card-producteur-home-page"> <!-- producteurs -->
            <h2 class="text-center my-5"><span class="cadre-titre-violet px-2">Derniers</span> producteurs</h2>
            <div class="row">

                {% if producers|length == 0 %}
                    <!-- à modifier  -->
                    <p>il n'y en a pas</p>
                {% endif %}
    
                {% for producer in producers %}

                
                    <div class="col-12"> <!-- producteurs card 1 -->
                        <div class="card mb-3" style="width: 100% ; height:400px ; position:relative">
                            <div class="producteur w-100 d-flex flex-row align-items-center">
                                <p class="text-center mt-2 mb-1 mx-3 font-weight-bold">{{- producer.user.givenName ~ ' ' ~ producer.user.familyName -}}</p>
                                <p class="text-center mt-2 mb-1 ml-auto mr-3 font-weight-bold">{{- producer.addressCity ~ '  ' ~ producer.addressZipcode -}} <i class="ri-map-pin-2-line"></i></p>
                            </div>
                    
                            <div style="width:100% ; height: 200px ; background-image: url('{{ asset("img/Exploit1.jpg") }}');background-size:cover ; background-position:center">
                            </div>
                            
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">
                                    {{- producer.name -}}
                                </h5>
                                <div class="col-12 d-flex flex-row align-items-center"  style="position:absolute ; bottom:4%">
                                    <a href="#" class="btn btnviolet ml-0">Découvrir</a>
                                    <p class="ml-auto  mr-4 my-0"><i class="ri-star-line"></i> <i class="ri-star-line"></i> <i class="ri-star-line"></i> <i class="ri-star-line"></i> <i class="ri-star-line"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>
            <a href="{{ path('producer_index') }}" class="btn btnorange text-white mb-4 mt-2 ml-3">Voir les autres producteurs</a> <!-- Bouton voir les autres producteurs -->

        </div>
        
    </div>
</div>
<!-- avis -->
<div class="container">
    <h2 class="text-center mt-5 mb-4"> <span class="cadre-titre-orange px-2">Avis</span> des clients</h2>
    <div class="row">


        
        <div class="col-12 mb-2"> <!-- avis client card 1 -->
            <div class="card mb-3">
                <div class="row no-gutters d-flex justify-content-center" style="min-height: 124px">
                    <div class="col-lg-2 d-flex justify-content-center align-items-center img-home-card-avis-client">
                        <div class="profile-avis" style="background-image: url('{{ asset("profile/profile2.jpg") }}');">
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="card-body">
                            <h5 class="card-title titre-avis-client-home-page">Gabriel Agreste</h5>
                            <p class="card-text texte-avis-client-home-page">Ce site m'a permis de complètement changer mes habitudes alimentaires. Je mange plus sain et surtout plus de produits venus de mon département.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-2"> <!-- avis client card 2 -->
            <div class="card mb-3">
                <div class="row no-gutters d-flex justify-content-center" style="min-height: 124px">
                    <div class="col-lg-2 d-flex justify-content-center align-items-center img-home-card-avis-client">
                        <div class="profile-avis" style="background-image: url('{{ asset("profile/profile1.jpg") }}');">
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="card-body">
                            <h5 class="card-title titre-avis-client-home-page">Jean Pakontan</h5>
                            <p class="card-text texte-avis-client-home-page">Je suis très satisfait des commandes que j'ai pu faire sur le site. 
                                <br> Je regrette juste qu'il n'y ait pas plus de choix.</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <p class="text-center"><a href="#" class="btn btnorange text-white mb-4 mt-1">Voir tous les avis</a></p> <!-- Bouton voir tous les avis -->
</div>



{% endblock %}