<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <!-- favicon -->
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">
        <!-- fonts -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous"> -->
        {# CDN OpenMaps #},
        {# Run `composer require symfony/webpack-encore-bundle` and uncomment the following Encore helpers to start using Symfony UX #} 
        {% block stylesheets %}
            {{ encore_entry_link_tags("css/app") }}
        {% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        <!-- Bannière logo -->

        <header class="pb-1">
            <div class="container d-flex py-2 align-items-center">
                <div class="col-2 headerheight">
                    <picture href="{{ path('homepage') }}" > <img id="logo" class="d-none d-md-block" src="{{ asset("img/LOGO4.svg") }}" alt="Logo"> <img id="logo" class="d-md-none" src="{{ asset("img/LOGO5.svg") }}" alt="Logo"> </picture>
                </div>
                <div class="col-5 col-md-4 col-lg-3">
                    <div class="input-group">
                        <div class="input-group-prepend ml-auto">
                            <span class="input-group-text" id="basic-addon1"><i class="ri-search-line"></i></span>
                        </div>
                        <input type="text" class="form-control " placeholder="Rechercher..." aria-label="Rechercher..." aria-describedby="basic-addon1" />
                    </div>
                </div>
                
                <a href="{{ path('cart_index') }}" class="btn btnviolet ml-3"><i class="ri-shopping-cart-2-line"></i></a>
        

                {% if app.user is null %}
                    <a class="btn btnvert btn-sm ml-2 d-flex align-items-center" href="{{ path('app_login') }}">Connexion</a> 
                    <a class="btn btnorange btn-sm ml-2 d-flex align-items-center" href="{{ path('app_register') }}">Inscription</a> 
                {% else %}
                <div class="dropdown">
                    <a class="btn btnvert ml-3 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="ri-user-3-fill"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <span class="dropdown-item"> {{ app.user.givenname }} {{ app.user.familyname }}</span>
                        <li><a class="dropdown-item" href="#">Client</a></li>
                        {% if is_granted('ROLE_PRODUCER') %}
                            <li><a class="dropdown-item" href="{{ path('producer_show') }}">Producteur</a></li>
                        {% elseif is_granted('ROLE_USER') %}
                            <li><a class="dropdown-item" href="{{ path('producer_new') }}">Devenir Producteur</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a class="dropdown-item" href="{{ path('accessCRUD') }}">Panel Admin</a></li>
                        {% endif %} 
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                    </ul>
                  </div>
                {% endif %}
            </div>
        </header>

        <!-- nav barre -->
        <nav class="navbar navbar-expand-md navbar-light bg-white py-3 jaune mb-4">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item orange mx-1 {{ ('homepage' in app.request.get('_route')) ? 'active' : '' }} ">
                            <a class="nav-link orange {{ ('homepage' in app.request.get('_route')) ? 'active' : '' }} " href="{{ path('homepage') }}">Accueil</a>
                        </li>
                        <li class="nav-item vert mx-1 {{ ('product' in app.request.get('_route')) ? 'active' : '' }}"  >
                            <a class="nav-link vert {{ ('product' in app.request.get('_route')) ? 'active' : '' }}"  href="{{ path('front_products') }}">Produits</a>
                        </li>
                        <li class="nav-item violet mx-1 {{ ('producer' in app.request.get('_route')) ? 'active' : '' }} ">
                            <a class="nav-link violet {{ ('producer' in app.request.get('_route')) ? 'active' : '' }} " href="{{ path('producer_index') }}">Producteurs</a>
                        </li>
                        <li class="nav-item rouge mx-1 {{ ('concept' in app.request.get('_route')) ? 'active' : '' }} ">
                            <a class="nav-link rouge {{ ('concept' in app.request.get('_route')) ? 'active' : '' }} " href="{{ path('concept') }}">Concept</a>
                        </li>
                        <li class="nav-item gris mx-1 {{ ('faq' in app.request.get('_route')) ? 'active' : '' }} ">
                            <a class="nav-link gris {{ ('faq' in app.request.get('_route')) ? 'active' : '' }} " href="{{ path('faq') }}">F.A.Q</a>
                        </li>
                        <li class="nav-item gris mx-1 {{ ('faq' in app.request.get('_route')) ? 'active' : '' }} ">
                            <a class="nav-link gris {{ ('faq' in app.request.get('_route')) ? 'active' : '' }} " href="{{ path('map') }}">MAP</a>
                        </li>
                        {% if is_granted('ROLE_PRODUCER') %}
                            <li class="nav-item gris mx-1">
                                <a class="btn btnvert ml-2 d-flex align-items-center justify-content-center" href="{{ path('product_new') }}">Ajouter un produit</a> 
                            </li>
                            <li class="nav-item gris mx-1">
                                <a class="btn btnvert ml-2 d-flex align-items-center justify-content-center" href="{{ path('product_new') }}">Mes produits</a> 
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %} 
        
        <!-- Footer ? -->
        <footer class="jaune footer-taille mt-auto">
            <p class="text-center">&copy; ePotager 2021</p>
            <div class="container d-flex justify-content-center">
                <a href="/CGV_ePotager.pdf" download>Conditions Générales de Vente</a>
            </div>
        </footer>
        <!-- <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js" integrity="sha256-ekrJn2FeZaiUFq99QswpQCUTME/HxaDfX7R8INzKJGE=" crossorigin="anonymous"></script> -->
        {% block javascripts %}
        {{ encore_entry_script_tags("js/app") }}
        

        {% endblock %}
    </body>
</html>
