<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <!-- favicon -->
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">
        <!-- fonts -->


        {# Run `composer require symfony/webpack-encore-bundle` and uncomment the following Encore helpers to start using Symfony UX #} 
        {% block stylesheets %}
        {{ encore_entry_link_tags("app") }}
        {% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        <!-- Bannière logo -->

        <header class="pb-1">
            <div class="container d-flex py-2 align-items-center">
                <div class="col-2 headerheight">
                    <picture> <img id="logo" class="d-none d-md-block" src="{{ asset("img/LOGO4.svg") }}" alt="Logo"> <img id="logo" class="d-md-none" src="{{ asset("img/LOGO5.svg") }}" alt="Logo"> </picture>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend ml-auto">
                        <span class="input-group-text" id="basic-addon1"><i class="ri-search-line"></i></span>
                    </div>
                    <input type="text" class="form-control col-5 col-md-4 col-lg-3" placeholder="Rechercher..." aria-label="Rechercher..." aria-describedby="basic-addon1" />
                </div>
                <a href="{{path('cart_index') }}" class="btn btnviolet ml-3"><i class="ri-shopping-cart-2-line"></i></a>
        

                {% if app.user is null %}
                    <a class="btn btnvert btn-sm ml-2 d-flex align-items-center" href="{{ path('app_login') }}">Connexion</a> 
                    <a class="btn btnorange btn-sm ml-2 d-flex align-items-center" href="{{ path('app_register') }}">Inscription</a> 
                {% else %}
                    <div class="dropdown">
                        <button class="btn btnvert ml-3 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ri-user-3-fill"></i></button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <span class="dropdown-item"> {{ app.user.givenname }} {{ app.user.familyname }}</span>
                            <a class="dropdown-item" href="#">Client</a>
                            {% if is_granted('ROLE_PRODUCER') and is_granted('ROLE_USER') %}
                                <a class="dropdown-item" href="#">Producteur</a>
                            {% elseif is_granted('ROLE_USER') %}
                                <a class="dropdown-item" href="{{ path('producer_new') }}">Devenir Producteur</a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('accessCRUD') }}">Panel Admin</a>
                            {% endif %} 
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                    </div>
                {% endif %}
                
            </div>
        </header>

        <!-- nav barre -->
        <nav class="navbar navbar-expand-md navbar-light bg-white py-3 jaune mb-4">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item orange mx-1 {{ (app.request.requestUri == '/' ) ? 'active' : '' }} ">
                            <a class="nav-link orange {{ (app.request.requestUri == '/' ) ? 'active' : '' }} " href="{{ path('homepage') }}">Accueil</a>
                        </li>
                        <li class="nav-item vert mx-1 {{ ('/product/' in app.request.requestUri) ? 'active' : '' }} ">
                            <a class="nav-link vert {{ ('/product/' in app.request.requestUri) ? 'active' : '' }} " href="{{ path('front_products') }}">Produits</a>
                        </li>
                        <li class="nav-item violet mx-1 {{ ('/producer/' in app.request.requestUri) ? 'active' : '' }} ">
                            <a class="nav-link violet {{ ('/producer/' in app.request.requestUri) ? 'active' : '' }} " href="{{ path('producer_index') }}">Producteurs</a>
                        </li>
                        <li class="nav-item rouge mx-1 {{ ('/concept' == app.request.requestUri) ? 'active' : '' }} ">
                            <a class="nav-link rouge {{ ('/concept' == app.request.requestUri) ? 'active' : '' }} " href="{{ path('concept') }}">Concept</a>
                        </li>
                        <li class="nav-item gris mx-1 {{ ('/faq' == app.request.requestUri) ? 'active' : '' }} ">
                            <a class="nav-link gris {{ ('/faq' == app.request.requestUri) ? 'active' : '' }} " href="{{ path('faq') }}">F.A.Q</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        


        {% block body %}{% endblock %} 
        
        
        <!-- Footer ? -->
        <footer class="jaune mt-auto" style="height:100px">
            <p class="text-center">&copy; ePotager 2021</p>
            <div class="container d-flex justify-content-center">
                <a href="/CGV_ePotager.pdf" download>Conditions Générales de Vente</a>
            </div>
        </footer>
        
        {% block javascripts %}
        {{ encore_entry_script_tags("app") }}
        {% endblock %}
    </body>
</html>
